$color-primary : #55c57a;
$color-primary-light : #7ed56f;
$color-primary-dark : #28b485;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  /* font-family: "Gaegu", cursive; */
  font-family: "Krub", sans-serif;
  padding: 30px;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

.header {
  position: relative;
  background-image: linear-gradient(to right bottom,
    rgba($color-primary-light, 0.8) , 
    rgba($color-primary-dark, 0.8)),
    url(../image/comp.jpg);
  background-size: cover;
  background-position: bottom;
  height: 90vh;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 89%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 89%, 0% 100%);
  /* clip-path: polygon(0 0, 0 0, 100% 0, 100% 100%, 94% 100%, 100% 100%, 0 80%, 0 0);
    : polygon(
    0 0,
    0 0,
    100% 0,
    100% 100%,
    100% 100%,
    100% 69%,
    0 100%,
    0 0
  ); */
  /* clip-path: polygon(0 0, 100% 0, 100% 79%, 0% 100%); */
  /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */
  /* clip-path: polygon(0 0, 80% 0%, 100% 20%, 100% 100%, 100% 100%, 20% 100%, 0% 80%, 0 0);    */
  /* clip-path: polygon(0 0, 0 0, 100% 20%, 100% 100%, 100% 100%, 100% 99%, 0% 80%, 0 0);  */
}

.logo-box {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo {
  width: 100%;
}

/* .logo:hover{
    animation-name: moveinleft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
} */

.header-text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 40px;
}

.heading-primary-main {
  display: block;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 50px;
  padding-left: 30px;
  animation-name: moveinleft;
  animation-duration: 2s;
  animation-timing-function: ease-in;

  /*
    animation-delay: 3s;
    animation-iteration-count: 3;
    */
}

.heading-primary-sub {
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 9px;

  animation-name: moveinright;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translatex(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translatex(0);
  }
}

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translatex(100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translatex(0);
  }
}

@keyframes moveinBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 100px;

  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.65);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
  padding: 15px 40px;
}

.btn::after {
  content: " ";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0;
}

.btn-animated {
  /* animation: moveInBottom 0.5s ease-out .75s; */

  animation-name: moveinright;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  /* animation-fill-mode: backwards; */
}
